:root{
    --orange : #EC682C;
    --darkblue : #4B40C5;
}
*::after,
*::before {
  box-sizing: border-box; 
}
body {
    width: 100vw;
    /* height: 100%; */
    margin: 0;
    padding :0px;
    font-family: "Poppins", sans-serif; /*Copied "CSS rules to specify families"from GOOGLE FONT
    if Poppins didn't work San-serif will work */
  }
header{
    background-repeat: no-repeat;
    width: 100vw;
    height: 927px;
    background-image: url(/images/unsplash_ELf8M_YWRTYheaderBackground\ \(1\).png);
}
.Orange{
    background-color: var(--orange);
    width: 107px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 400; !important
}
.Bon{
    font-family: 'Peralta', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    position: absolute;
    top: 48px;
    left: 55px;
    color: #000000;
}
.list{
    list-style: none;
}
.Destination{
    text-decoration: none;
    width: 148px;
    height: 34px;
    font-weight: bold;
    font-size: 22.61px;
    position: absolute;
    top: 53px;
    left: 382px;
    color: #212832;
}
.Hotels{
    text-decoration: none;
    width: 148px;
    height: 34px;
    font-weight: bold;
    font-size: 22.61px;
    position: absolute;
    top: 53px;
    left: 595px;
    color: #212832;
}
.Flight{
    text-decoration: none;
    width: 148px;
    height: 34px;
    font-weight: bold;
    font-size: 22.61px;
    position: absolute;
    top: 53px;
    left: 754px;
    color: #212832;
}
.Booking{
    text-decoration: none;
    width: 148px;
    height: 34px;
    font-weight: bold;
    font-size: 22.61px;
    position: absolute;
    top: 53px;
    left: 915px;
    color: #212832;
}
.BtnOne{
    text-decoration: none;
    width: 60px;
    height: 34px;
    font-weight: 400;
    font-size: 22.61px;
    position: absolute;
    top: 53px;
    left: 1130.5px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BtnTwo{
    text-decoration: none;
    width: 85px;
    height: 34px;
    font-weight: 400;
    font-size: 22.61px;
    position: absolute;
    top: 53px;
    left: 1281px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderTitle{
    color: #4B40C5;
    width: 1108px;
    height: 89px;
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    top: 387px;
    left: 35px;
}
div>p{
    width: 757px;
    height: 47px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    position: absolute;
    top: 460px;
    left: 45px;
    text-transform: uppercase;
}
.btn{
    width: 228px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#4B40C5;
    position: absolute;
    top: 549px;
    left: 50px;
    border-radius: 12px;
}
.BlueBtn{
    text-decoration: none;
    color: #FFF1DA;
    width: 195px;
    height: 29px;
    line-height: 36px;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}    
section>div{
    width: 1279px;
    height: 672px;
    position: absolute;
    top: 1004px;
    left: 75px
}
.Section1-Title{
    width: 270px;
    Height: 34px;
    color: #4B40C5;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
    top: 0px;
    left: 504px;
}
.Section1-Subtitle{
    width: 898px;
    height: 81px;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    color: #14183E;
    position: absolute;
    top: 74px;
    left: 233px;
}
.Satellite{
    width: 78.27px;
    height: 87.73px;
    position: absolute;
    top: 289.78px;
    left: 77.16px;
}
.Calculated-Weather{
    width: 253px;
    height: 34px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    line-height: 36px;
    position: absolute;
    top: 418px;
    left: 0px;
}
.Calculated-Weather-Content{
    width: 226px;
    height: 145px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    position: relative;
    top: 434px;
    left: 9px;
    text-align-last: Center;
}
.Plane{
    width: 261.29px;
    height: 195.23px;
    position: absolute;
    top: 105px;
    right: 746px;
    z-index: 1;
}
.Best-Flights{
    width: 177px;
    height: 34px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #000000;
    position: absolute;
    top: 418px;
    left: 389px;
}
.Plane-BG{
    width: 58.64px;
    height: 61.41px;
    position: absolute;
    left: 425px;
    top: 285px;
}
.Best-Flights-Content{
    width: 212px;
    height: 136px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.58px;
    position: absolute;
    top: 468px;
    left: 355px;
    text-align-last: Center;
}
.Mic{
    width: 75px;
    height: 103px;
    position: absolute;
    top: 278px;
    left: 770px;
}
.Local-Events{
    width: 201px;
    height: 33px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    line-height: 36px;
    position: absolute;
    top: 418px;
    left: 730px;
}
.Local-Events-Content{
    width: 226px;
    height: 145px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: 468px;
    left: 690px;
    line-height: 34.58px;
    text-align-last: Center;
}
.Gear{
    width: 84.64px;
    height: 86px;
    position: absolute;
    top: 278px;
    left: 1050px;
}
.Customization{
    width: 189px;
    height: 34px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    line-height: 36px;
    position: absolute;
    top: 418px;
    left: 1005px;
}
.Customization-Content{
    width: 217px;
    height: 166px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: 467px;
    left: 983px;
    line-height: 34.58px;
    text-align-last: Center;
}